body{
  margin: 0;
  padding: 0;
  background:linear-gradient(#ffffff,#c8e0fc, rgb(196, 196, 229), rgb(251, 254, 255));
  background-repeat: no-repeat;
  background-size: cover;
}


#navbar .nav-link{
  color: rgb(120, 115, 115);
  font-size: 15px;
  font-weight: 550;
  margin-right: 10px;
}
#navbar .nav-link:hover{
  color: rgb(0, 0, 0);
}
.home h4{
  color: grey;
  font-size: 17px;
  letter-spacing: 5px;
}
.home h1{
  font-weight: bold;
  font-size: 43px;
  line-height: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home p{
  color: grey;
  font-size: large;
}

.btn{
  margin-right: 10px;
}
.card_1 h1{
  font-size: 27px;
}
.card_1 p{
font: 1em sans-serif;
}
.card_1 .fab{
color: blue;
font-size: 32px;
}
.card_1{
  box-shadow: 2px 2px 10px;
  border: 1px solid black;
  transition: 0.3s;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  margin-top: 50px;
}
.card_1:hover{
  transform: skew(5deg) ;  
  cursor: pointer;
}
.expertise{
  margin-top: 150px;
}
.expertise .expertise-text h1{
  font-weight: bold;
  font-size: 44px;
  font-family: ;
}
.expertise p{
  font-weight: 500;
  color: rgb(41, 37, 37);
}
.expertise img{
  margin-bottom: 20px;
  padding: 10px;
  transition: 0.3s;
  border-radius: 10px;
} 
.expertise img:hover{
  transform: translateY(-10px);
  box-shadow: 5px 5px 5px;
} 
.expertise span{
  background-color: rgb(13, 0, 0);
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.expertise .btn{
  margin-bottom: 10px;
}
.askedQuestion{
  margin-top: 150px;
}
.ask-text{
  border-radius: 5px;
  padding: 10px 30px;
  text-align: center;
  border-bottom: 2px solid black;
}
/* Footer */
.footer{
  margin-top: 90px;
  margin-bottom: 20px;
}
.footer img{
  margin-left: -35px;
  margin-bottom: 10px;
}
.footer h1{
  font-size: 22px;
}
.footer p{
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
}
.footer .fa-brands,  .fa-envelope{
  font-size: 25px;
  margin-right: 20px;
  color: black;
}
.footer .fa-brands:hover,.fa-envelope:hover{
  color: blue;
}
.footer ul li .item{
 text-decoration: none;
 font-size: 18px;
 font-weight: 500;
 color: black;
 line-height: 50px;
}
.footer ul li .item:hover{
  color: orange;
}
.footer ul li{
  list-style: none;
}



/* about */

#title{
  font-size: 45px;
  text-transform: uppercase;
  filter: drop-shadow(1px 2px 0px);
  padding: 10px 30px;
  box-shadow: 2px 2px 5px;
  border-radius: 10px;
}
.about img{
  margin-top: 50px;
}
.about h1{
  font-size: 20px;
  font-weight: bold;
  color: rgb(42, 40, 37);
  margin-top: 50px;
}
.about h2{
  font-family: sans-serif ;
   font-size: 18px;
  font-weight: bold;
  color: rgb(42, 40, 37);
}
.about p{
  font-size: 18px;
  font-weight: 500;
  color: rgb(74, 69, 69);
}
.about .about-text{
  margin-top: 50px;
}
.about #line-text{
  margin-bottom: 50px;
   text-align: center;
   font-family: sans-serif;
   font-size: 35px;
   padding: 20px 0;
   font-weight: bold;
   box-shadow: -5px -5px 5px;
}
.about ul li {
  font-size: 18px;
  font-weight: 500;
  color: rgb(43, 39, 39);
}


.Build-web{
  margin-top: 70px;
  line-height: 50px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 50px 0px;
}
.Build-web h1{
  font-weight: bold;
  font-size: 45px;
}
.Build-web p{
  font-size: 20px;
}
.Build-web Button{
padding: 10px 40px;
font-size: large;
}
.star{
  font-size: 20px;
  color: red;
  font-weight: bold;
}